
.App {
  text-align: center;
}

.parallax{
  background-image: url("https://cdn.discordapp.com/attachments/807332448014303284/958997114090819624/cropped-1920-1080-1054256.jpg");
  min-height: 35rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2{
  background-image: url("https://cdn.discordapp.com/attachments/807332448014303284/959043642373308526/cropped-1920-1080-1051722.jpg");
  min-height: 45rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}